*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: #f0f4f7;
}
.row-product{
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
    height: 40px;
    user-select: none;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.row-product:hover{
    background-color: rgb(240, 240, 240);
}
.row-data{
    display: flex;
    gap: 10px;
}
.rw-container{
    user-select: none;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    width: max-content;
    background-color: white;
}
.container-row-product-name{
    width: 180px;
    display: block;
}
.rw-1{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.container-row-product-type{
    width: 100px;
    display: flex;
    justify-content: center;
}
.rw-2{
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.row-product-type{
    padding: 3px;
    border-radius: 8px;
    font-size: 0.8rem;
    background-color: rgb(52, 233, 112);
    color: white;
}
.container-row-product-section{
    width: 80px;
    display: block;

}
.rw-3{
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}
.container-row-product-quantity{
    width: 70px;
    display: flex;
    justify-content: center;
}
.rw-4{
    width: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px; 
}
.rw-5{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 236px;
}
.row-products-actions button{
    cursor: pointer;
    outline: none;
    border: none;
    width: 60px;
    height: 25px;
    border-radius: 4px;
}
.btn-remove-product{
    color: white;
    background-color: rgba(233, 47, 14, 0.692);
}
.btn-remove-product:hover{
    background-color: rgb(233, 47, 14);
}
.btn-edit-product{
    color: white;
    background-color: rgb(42, 140, 253);
}
.btn-edit-product:hover{
    background-color: rgb(12, 116, 235);
}
.btn-add-to-order{
    background-color: rgb(200, 87, 252);
    color: white;
}
.btn-add-to-order-added{
    background-color: rgb(66, 66, 66);
}
.btn-add-to-order:hover{
    background-color: rgba(200, 87, 252, 0.555);
}
#table-product{
    width: max-content;
    background-color: white;
    padding: 15px;
}

#dashboard{
    width: 100%;
    display: flex;
    justify-content: center;
}
.dashboard-actions-container{
    display: flex;
    justify-content: flex-end;
    background-color: white;
    gap: 1rem;
    padding: 20px;
    margin-bottom: 1rem;
}
.dashboard-actions-container button{
    cursor: pointer;
    outline: none;    
    border: none;
    height: 35px;
    width: 110px;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: 500;
}
#dashboard-btn-generate-order{
    border: 1px solid  rgb(47, 116, 245);
    color: rgb(47, 116, 245);
    background-color: white;
}
#dashboard-btn-create-product{
    background-color: rgb(47, 116, 245);
    color: white;
}
#dashboard-btn-generate-order:hover,#dashboard-btn-create-product:hover{
    background-color: rgb(10, 84, 223);
    color: white;
}
.dashboard-container{
    position: relative;
    width: 100%;
    height: 100vh;
}
#modal{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -5;
}
.container-modal-activate{
    z-index: 500 !important;
}
#form-create-product{
    z-index: 4400 !important;
}
/* .modal-edit{
    display: none;
} */
.modal-open{
    height: max-content;
    transition: all 0.6s ease-in-out ;
    opacity: 1;
    z-index: 51 !important;
    visibility: visible;
    display: flex !important;
}
.modal-close{
    transition: all 0.6s ease-in-out ;
    height: 0;
    opacity: 0;
    z-index: 50 !important;
    background-color: red;
    visibility: visible;
}


.modal-edit{
    position: absolute;
    z-index: 50;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    transition: all 0.6s ease-in-out ;
}
.modal-edit form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.modal-create-product{
    background-color: white;
    padding: 20px;
    position: absolute;
    z-index: 50;
    display: flex;
    flex-direction: column;
    transition: all 0.6s ease-in-out ;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.modal-create-product form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-order-process{
    background-color: white;
    padding: 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    transition: all 0.6s ease-in-out ;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 450;
}

#modal div > form > input {
    font-size: 1.1rem;
    padding: 10px;
    border: 1px solid rgb(236, 235, 235);
}
#modal div > form > input:focus{
    outline: 2px solid rgba(134, 255, 35, 0.384);
}
#modal div > form > select{
    font-size: 1.1rem;
    border: none;
    padding: 10px;
}
#modal div > form > select:focus{
    outline: 2px solid rgba(134, 255, 35, 0.384);
}
#modal div h3{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
#modal div > form > button{
    font-size: 1.1rem;
    border: 1px solid white;
    padding: 10px;
    cursor: pointer;
}

#btn-create-product{
    background-color: rgb(44, 238, 132);
    color: white;
}
#btn-create-product:hover{
    background-color: rgb(17, 199, 99);
}
#btn-create-product:focus{
    border: 1px solid black;
}
#btn-create-cancel{
    background-color: #ffbeb2;
    color: white;
}
#btn-create-cancel:hover{
    background-color: rgb(245, 112, 88);
}
#btn-create-cancel:focus{
    border: 1px solid black;
}
#btn-modal-proccess-edit{
    background-color: rgb(0, 119, 255);
    color: white;
}
#btn-modal-proccess-edit:focus{
    border: 1px solid black;
}
#btn-modal-proccess-edit:hover{
    background-color: rgb(12, 95, 190);
}
#btn-edit-cancel{
    background-color: rgb(214, 46, 40);
    color: white;
}
#btn-edit-cancel:hover{
    background-color: rgb(173, 17, 12);
}
#btn-edit-cancel:focus{
    border: 1px solid black;
}

/*hint*/
#hint-items{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.hint-item div{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
}
.hint-item div button{
    outline: none;
    border: none;
    padding: 6px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(255, 60, 0);
}
.hint-item div button:hover{
    background-color: red;
}
.hint-item .success{
    background-color: rgb(9, 207, 141);
    color: white;
}
.hint-item .error{
    background-color: rgb(240, 73, 44);
    color: white;
}

@media screen and (max-width : 710px){
    main{
        height: 200vh;
    }
    .rw-container{
        display: none;
    }
    .row-data{
        flex-direction: column;
    }
    .row-data div{
        width: 100px;
    }
    .row-product{
        height: auto;
        gap: 1rem;
        padding: 1rem;
    }
    .container-row-product-name{
        font-size: 1.3rem;
        font-weight: 600;
    }
    .row-products-actions{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

/* order ui */
.form-order-process{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-order-process button{
    height: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}
.order-item{
    display: flex;
    gap: 5px;
    width: 280px;
    padding: 15px 0;
    user-select: none   ;
}
#btn-process-order{
    background-color: rgb(0, 102, 255);
    color: white;
}
#btn-process-order:hover{
    background-color: rgb(1, 79, 196);
}
#btn-cancel-order{
    background-color: rgb(255, 75, 75);
    color: white;
}
#btn-cancel-order:hover{
    background-color: rgb(250, 35, 35);
}
.order-item h4 {
    width: 110px;
}
.order-item div{
    align-items: center;
    display: flex;
    gap: 10px;
}