.meassurement-election{
    display: flex;
}
.meassurement-election-item{
    outline: none;
    border: none;
    cursor: pointer;
    user-select: none;
    width: 120px;
    height: 40px;
    background-color: white;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.meassurement-election-item-active{
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}